* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color2);
    color: var(--color1);
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --color1: #1f2937;
    --color2: #f9faf8;
    --color3: #e5e7eb;
    --color4: #3886f6;
}

/* MOBILE FIRST */

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    color: var(--color2);
    border-bottom: 2px solid var(--color3);
}

.company-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.paw-logo {
    width: 1.5rem;
}

.company-name {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.open-menu,
.close-menu {
    background-color: var(--color1);
    color: inherit;
    border: none;
}

.fa-square-caret-left,
.fa-square-xmark {
    font-size: 1.6rem;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    border-left: 0.5rem inset var(--color3);
    box-shadow: 0 0 0 100vmax #1f2937aa;

    opacity: 0;
    visibility: hidden;
}

.close-menu {
    height: 10vh;
    align-self: flex-end;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.navlist {
    height: 90vh;
    margin: 0;
    margin-top: -3rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color3);
    list-style-type: none;
}

/* Hero */

.hero {
    width: 100%;
    padding: 6rem 0 3.5rem;
    background-color: var(--color1);
    color: var(--color3);
}

.hero-container,
.random-container,
.motivation-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.hero-side-1,
.hero-side-2 {
    text-align: center;
}

.title-1 {
    margin: 0;
    margin-bottom: -5px;
}

.hero-text {
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
}

.hero-img {
    width: 85%;
    max-width: 550px;
    margin-bottom: 3rem;
    border-radius: 1.5rem;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.call-to-action {
    padding: 0.6rem;
    width: 50%;
    max-width: 150px;
    font-weight: 700;
    background-color: var(--color4);
    color: var(--color2);
    border: none;
    border-radius: 0.75rem;
}

.cta-1 {
    display: none;
}

/* Random Pets */

.random-pets,
.motivation {
    padding: 2rem 0;
}

.random-container {
    margin: 2rem auto;
}

.random-title-2 {
    margin: 0 0 2rem;
    text-align: center;
    font-size: 1.6rem;
}

.cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;
    justify-content: center;
}

.card {
    height: 250px;
    font-size: 1.1rem;
}

.image-card-1,
.image-card-2,
.image-card-3,
.image-card-4 {
    width: 80%;
    max-width: 250px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--color4);
    border-radius: 2.5rem;
    box-shadow: 0 0 25px 5px var(--color1);
}

.image-card-1 {
    background: url(https://blz04pap003files.storage.live.com/y4mcR5RYsRNU-Nx4EPf-D6C-Tvm1jglUfmkw5CPnh94Wd9dsg9AhKFK10TAfBrecgGQs2LjSN3iHydnf-lkfUsT_PZF3uYMKswfKjNhHpAY1XfQqJOFtV4GcqA67u11uO_QMCmFt6PLsVCoBkfdrcABh97_ijGi6cWqjvFfpSnIufxuHByjwCU4SAW52upu4RgZMbbD0BQv0ipXxc3WrpsgJClotAowZjN2saX09QWoy8A?encodeFailures=1&width=640&height=428) no-repeat center center;
    background-size: cover;
}

.image-card-2 {
    background: url(https://blz04pap003files.storage.live.com/y4mISZjoCoa9OlVCYwv-pZGxtvwyp7feZKKnAojh73pnItZgXacLEBYqkfbNSjPV0RZEt2s-wyNT18vmTz5SStuHZQGamCiQ-ahCJulvEHCgF0n5Y91meQ1C6_z6axJhV-62zKI1Lv-PfhY2xonaW3xuDOVmMIy_oiZ_-jgp6EvPYAoqb2Ch5S1YFT-FxJiDGoqp6M5K5MpxpcNer5PHQ9ev3z42G4VDOVwLmRTy55bph0?encodeFailures=1&width=612&height=640) no-repeat center center;
    background-size: cover;
}

.image-card-3 {
    background: url(https://blz04pap003files.storage.live.com/y4mlzrB142fGPx4RhKv3Q1fTqRbPuW-65BxdRRymZpy7lxR1OWeak8f_q67F5Eg2lypspBz9qaP0iLXLifv1YQ-aGzjt21BZHO1eU_hO2tWYfA7vAP-PJ2yOb_Xyyo4SUNPv0aKICVfwFBBcxF41df-y2Z-qrctOetN8-zFYzh8uYcyDTCEztb3yIbWuza0j7Luk_kASpGEoYxyWw31P8ikbUHv86IH4yZNGhAjth1JdYg?encodeFailures=1&width=640&height=426) no-repeat center center;
    background-size: cover;
}

.image-card-4 {
    background: url(https://blz04pap003files.storage.live.com/y4mkk_eXOHVLNmsWZWvsbvGUy1NiGr-QQqah8iq0f84TuFK64XWaG04CMHTjt4x7BNmby_x9dq6Frdc0_cus3UCsQ-cylc9liaqGWZIlMkb73-8ZdEUNG2VzHl9YSYmwAI2bkOOuLEDRIK_atYd4qn0o_OI9zk-axX58zT8MH1Y_SDVSnwvijUYg3FTWaNzIfFYwF8EvZ7wQtd1sqOZiWhsyKiuh_vLxoNetqEIZAwkumI?encodeFailures=1&width=640&height=425) no-repeat center center;
    background-size: cover;
}

.card-text {
    text-align: center;
}

/* Motivation */

.motivation {
    background-color: var(--color3);
}

.motivation-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.motivation-text {
    margin: 0;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.motivation-author {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Adopt */

.adopt {
    padding: 1rem;
}

.adopt-box {
    width: 90%;
    margin: 2rem auto;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    background-color: var(--color4);
    color: var(--color2);
    border-radius: 1.5rem;
    box-shadow: 0 5px 20px 2px var(--color1);
}

.adopt-title-3 {
    margin: 5px 0px;
}

.adopt-text-desc {
    margin: 0;
    padding: 0 1.2rem;
}

.cta-3 {
    border: 3px solid var(--color2);
}

/* Footer */

.footer {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--color1);
    color: var(--color3);
}

.bryan-portfolio {
    cursor: pointer;
    padding: 1rem;
    background-color: var(--color1);
    color: var(--color3);
    border: none;
    border-radius: 1.5rem;
    animation: blink 5s linear infinite;
}

.copyright {
    margin: 0;
}

/* RESPONSIVE DESIGN */

@media (min-width: 768px) {
   
    /* Header */

    .header {
        padding: 1.5rem 4rem;
        border-bottom-width: 0.5px;
    }

    .paw-logo {
        width: 1.6rem;
    }
    
    .company-name {
        font-size: 1.6rem;
    }

    .open-menu,
    .close-menu {
        display: none;
    }

    .navbar {
        position: relative;
        width: unset;
        height: unset;
        padding: 0;
        flex-direction: row;
        box-shadow: none;
        border: none;
        opacity: 1;
        visibility: visible;
    }

    .navlist {
        height: unset;
        margin-top: 0;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
    }

    /* Hero */

    .hero {
        padding-top: 8rem;
    }

    .hero-container,
    .random-container,
    .motivation-container {
        width: 80%;
    }

    .title-1 {
        font-size: 2.2rem;
        margin-bottom: 0;
    }

    .hero-text {
        padding: 0 3rem;
        font-size: 1.2rem;
    }

    .hero-img {
        width: 85%;
    }

    .call-to-action {
        padding: 0.8rem;
        max-width: 200px;
        font-size: 1.2rem;
    }

    /* Random Pets */

    .random-title-2 {
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }

    .cards {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .card {
        width: 50%;
        max-width: 250px;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }

    /* Motivation */

    .motivation-author {
        padding-right: 1.2rem;
        align-self: flex-end;
    }

    /* Adopt */

    .adopt-box {
        padding: 2rem 4rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .adopt-text {
        width: 50%;
        text-align: left;
    }

    .adopt-title-3 {
        font-size: 1.3rem;
    }

    /* Footer */

    .footer {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
}

@media (min-width: 1024px) {
    
    /* Header */

    .header {
        padding: 2rem 6rem;
        border-bottom: none;
    }

    .paw-logo {
        width: 2rem;
    }

    .company-name {
        font-size: 2rem;
    }

    .navlist {
        gap: 3rem;
    }

    /* Hero */

    .hero {
        padding: 10rem 0 6rem;
    }

    .hero-container,
    .motivation-container {
        width: 90%;
    }

    .hero-container {
        flex-direction: row;
    }

    .hero-side-1 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title-1 {
        font-size: 2.5rem;
    }

    .hero-text {
        margin-bottom: 3rem;
        padding: 0;
        text-align: left;
    }

    .cta-1 {
        display: unset;
    }

    .cta-2 {
        display: none;
    }

    /* Random Pets */

    .random-title-2 {
        font-size: 2rem;
    }

    .cards {
        row-gap: 5rem;
        column-gap: 8rem;
    }

    .card-text {
        font-size: 1.3rem;
    }

    /* Motivation */

    .motivation-container {
        padding: 2rem 3rem;
    }

    .motivation-text {
        font-size: 1.5rem;
    }

    .motivation-author {
        font-size: 1.8rem;
    }

    /* Adopt */

    .adopt-box {
        padding: 2.5rem 5rem;
    }

    .adopt-title-3 {
        font-size: 1.5rem;
    }

    .adopt-text-desc {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    
    /* Header */

    .paw-logo {
        width: 2.2rem;
    }

    .company-name {
        font-size: 2.2rem;
    }

    .navlist {
        gap: 5rem;
    }

    /* Hero */

    .hero {
        padding-top: 12rem;
        padding-bottom: 8rem;
    }

    .hero-container,
    .random-container,
    .motivation-container {
        max-width: 1200px;
    }

    .hero-side-1 {
        width: 45%;
    }

    .title-1 {
        font-size: 2.6rem;
    }

    .hero-text {
        margin-bottom: 4rem;
    }

    /* Random Pets */

    .random-container {
        width: 90%;
    }

    .cards {
        gap: 3rem;
    }

    /* Motivation */

    .motivation-text {
        font-size: 1.8rem;
    }

    .motivation-author {
        font-size: 2rem;
    }

    /* Adopt */

    .adopt-box {
        padding: 3rem 10rem;
    }

    .adopt-title-3 {
        font-size: 1.8rem;
    }

    .adopt-text-desc {
        font-size: 1.3rem;
    }
}

/* Hovers */

.call-to-action:hover {
    cursor: pointer;
    background-color: var(--color3);
    color: var(--color1);
}

.cta-3:hover {
    background-color: var(--color1);
    color: var(--color3);
    border-color: var(--color3);
}


/* Animations */
@keyframes blink {
    0% {
        box-shadow: 0 0 0 0.1rem var(--color4);
    }
    
    50% {
        box-shadow: 0 0 5px 0.4rem var(--color4);
    }

    99% {
        box-shadow: 0 0 0 0.1rem var(--color4);
    }
}
